/* text fonts for index.html and portfolio layout
Raleway 700
Roboto 400, 500, 700, 900 

text color =

title-color: #212121
text-color: #757575;
accent-color: #2196f3;
hero-title-color: #ffffff;
hero-bg-color: #2f303a;
footer-bg-color: #2f303a;
team-bg-color: #f5f4fa;
logo-black-color: #000000;
address-color: rgba(255, 255, 255, 0.6);
*/
